In [208]:
import pandas as pd
df_train=pd.read_csv('dataset/yds_train2018.csv')
df_test=pd.read_csv('dataset/yds_test2018.csv')
df_train.head(2)

   S_No  Year  Month  Week Merchant_ID  Product_ID    Country     Sales
0     1  2013      1     1     ar00001           1  Argentina  157500.0
1     2  2013      1     1     ar00003           1  Argentina   39375.0

In [209]:
Dates=[]
length=len(df_train['Year'])
for i in range(79072):
    Dates.append(str(df_train['Year'][i])+'-'+str(df_train['Month'][i]))
    

df_train['Dates']=Dates
df_train['Dates']=pd.to_datetime(df_train['Dates'])
df_train['Dates'].head()
df_train.head(2)

,S_No,Year,Month,Week,Merchant_ID,Product_ID,Country,Sales,Dates
0,1,2013,1,1,ar00001,1,Argentina,157500.0,2013-01-01
1,2,2013,1,1,ar00003,1,Argentina,39375.0,2013-01-01

In [210]:
data_monthly=df_train.groupby(['Year', 'Month', 'Product_ID', 'Country'],as_index=False)['Sales'].sum()
data_monthly.head(2)

   Year  Month  Product_ID    Country        Sales
0  2013      1           1  Argentina  34346025.00
1  2013      1           1   Columbia   3947356.31

In [211]:
import numpy as np
Unique_Countries=list(np.unique(df_train['Country']))
Unique_Countries

['Argentina', 'Belgium', 'Columbia', 'Denmark', 'England', 'Finland']

In [212]:
ydsnaiveSumission=[]
trainForecastlastpoint=[]

In [217]:
for country in Unique_Countries:
    data_month_country=data_monthly[data_monthly['Country']==country]
    UniqProduct=list(np.unique(data_monthly['Product_ID']))
    for product in UniqProduct:
        data_month_filtered=data_month_country[data_month_country['Product_ID']==product]
        lastPointValue=data_month_filtered['Sales'].tail(1)
        submission_filter=df_test[df_test['Country']==country]
        submission_filter=submission_filter[submission_filter['Product_ID']==product]
        horizon=submission_filter.shape[0]
        submission_filter['Sales']=lastPointValue
        ydsnaiveSumission.append(submission_filter)
        #dmfs=data_month_filtered['Sales']
        #lpv=lastPointValue
        #temp={'Sales':dmfs,'lastPointValue':lpv}
        #df_temp=pd.DataFrame(temp)
        #trainForecastlastpoint.append(df_temp)

Empty DataFrame
Columns: [Year, Month, Product_ID, Country, Sales]
Index: []

In [ ]:
write.csv(ydsnaiveSumission, file="ydsnaivesubmission.csv", row.names = F)